.vagrant
__pychache__/*
__pycache__

# Config files
/data/twitter_interface/twitter_access.json
/data/db_interface/mongo_connect

# Images
/data/graphs/*

# testing
/test/testing.py

.idea/
scripts/

*/.DS_Store
.DS_Store
